[submodule "Components/DSP"]
	path = Components/DSP
	url = https://github.com/AndromedaSignalLab/AndromedaDSP.git
[submodule "Components/SpectrumAnalyzer"]
	path = Components/SpectrumAnalyzer
	url = https://github.com/ModPlugPlayer/SpectrumAnalyzer.git
[submodule "Components/SpectrumAnalyzerAnimator"]
	path = Components/SpectrumAnalyzerAnimator
	url = https://github.com/ModPlugPlayer/SpectrumAnalyzerAnimator.git
[submodule "Components/GradientEditor"]
	path = Components/GradientEditor
	url = https://github.com/ModPlugPlayer/GradientEditor.git
[submodule "Components/PlayListWidget"]
	path = Components/PlayListWidget
	url = https://github.com/ModPlugPlayer/PlayListWidget.git
[submodule "Components/ModPlugPlayerAPI"]
	path = Components/ModPlugPlayerAPI
	url = https://github.com/ModPlugPlayer/ModPlugPlayerAPI.git
[submodule "Components/Common"]
	path = Components/Common
	url = https://github.com/ModPlugPlayer/Common.git
[submodule "Components/LCDDisplayWidget"]
	path = Components/LCDDisplayWidget
	url = https://github.com/ModPlugPlayer/LCDDisplayWidget.git
[submodule "Components/KissFFT"]
	path = Components/KissFFT
	url = https://github.com/mborgerding/kissfft.git
	branch = 131.1.0
