[submodule "Components/DSP"]
	path = Components/DSP
	url = https://github.com/ModPlugPlayer/DSP.git
[submodule "Components/SpectrumAnalyzer"]
	path = Components/SpectrumAnalyzer
	url = https://github.com/ModPlugPlayer/SpectrumAnalyzer.git
[submodule "Components/SpectrumAnalyzerAnimator"]
	path = Components/SpectrumAnalyzerAnimator
	url = https://github.com/ModPlugPlayer/SpectrumAnalyzerAnimator.git
[submodule "Components/GradientEditor"]
	path = Components/GradientEditor
	url = https://github.com/ModPlugPlayer/GradientEditor.git
[submodule "Components/PlayListWidget"]
	path = Components/PlayListWidget
	url = https://github.com/ModPlugPlayer/PlayListWidget.git
